.postLabel {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.5rem;
  display: block;
  font-weight: 700;
  color: #003049;
}

.radio {
  display: inline;
  padding-left: 0.25rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #003049;
}

input[type=text] {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-bottom: 1.5rem;
}

button {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2rem;
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: #FCBF49;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 25px;
}

button {
  cursor: pointer;
}

input[type=file] {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-right: 0.5rem;
}

p {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-bottom: 0.5rem;
  display: block;
  margin-bottom: 0;
}

#postForm {
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
  grid-template-rows: auto 5rem;
  margin-top: 4rem;
}

#leftColumn {
  grid-column-end: 3;
}

#rightColumn {
  grid-column-start: 4;
}

#typeForm {
  margin-bottom: 1.5rem;
}